.about {
  @media (min-width: 680px) {
    padding-top: 135px;
    background: calc(50% + 15px) top no-repeat;

    .no-js &,
    .no-webp & {
      background-image: url("../img/about_bg-tablet.png");
    }

    .webp & {
      background-image: url("../img/about_bg-tablet.webp");
    }
  }

  @media (min-width: 1180px) {
    min-height: 832px;
    padding-top: 0;
    background-position: calc(50% - 84px) 2px;

    .no-js &,
    .no-webp & {
      background-image: url("../img/about_bg-desktop.png");
    }

    .webp & {
      background-image: url("../img/about_bg-desktop.webp");
    }
  }
}

.about__inner {
  @extend %container;
  overflow-x: hidden;

  @media (min-width: 680px) {
    overflow-x: visible;
  }
}

.about__title {
  @extend %title;
  margin-bottom: 14px;
  padding-top: 61px;
  padding-bottom: 31px;

  @media (min-width: 680px) {
    margin-bottom: 31px;
    padding-top: 104px;
    padding-bottom: 25px;
  }

  @media (min-width: 1180px) {
    margin-bottom: 49px;
    padding-top: 135px;
    padding-bottom: 45px;
    transform: translateX(10px);
  }
}

.about__content {
  position: relative;
  width: 290px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 371px;
  text-align: center;

  @media (min-width: 680px) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    width: auto;
    height: 600px;
    padding-top: 0;
    text-align: left;
  }

  @media (min-width: 1180px) {
    justify-content: flex-end;
    align-content: flex-start;
    height: 481px;
  }
}

.about__image-left,
.about__image-right {
  position: absolute;
  width: 225px;

  @media (min-width: 680px) {
    position: static;
    width: 306px;
  }

  @media (min-width: 1180px) {
    width: 316px;
  }

  img {
    display: block;
  }
}

.about__image-left {
  top: 0;
  left: -75px;

  @media (min-width: 680px) {
    top: auto;
    left: auto;
    order: -2;
    margin-bottom: 27px;
  }

  @media (min-width: 1180px) {
    order: 0;
    margin-right: 29px;
    margin-bottom: 50px;
  }
}

.about__image-right {
  top: 35px;
  right: -95px;

  @media (min-width: 680px) {
    top: auto;
    right: auto;
    margin-top: 48px;
    margin-bottom: 28px;
  }

  @media (min-width: 1180px) {
    margin-top: 0;
    margin-right: 51px;
    margin-bottom: 0;
  }
}

.about__text {
  margin-top: 0;
  margin-bottom: 23px;
  text-align: center;
  color: $colorTextAlt;

  &:last-of-type {
    margin-bottom: 25px;
  }

  @media (min-width: 680px) {
    width: 292px;
    text-align: left;

    &:first-of-type {
      order: -1;
      padding-left: 14px;
    }
  }

  @media (min-width: 1180px) {
    width: 320px;
    margin-bottom: 33px;

    &:first-of-type {
      order: 0;
      padding-left: 0;
    }

    &:last-of-type {
      margin-bottom: 46px;
    }
  }

  &--desktop {
    display: none;

    @media (min-width: 1180px) {
      display: block;
    }
  }

  a {
    color: inherit;
    transition: opacity 0.2s;

    &[href^="tel"] {
      font-weight: $fontWeightSemiBold;

      span {
        letter-spacing: $letterSpacing;
      }
    }

    &:hover,
    &:focus {
      outline: none;
      opacity: 0.6;
    }

    &:active {
      opacity: 0.8;
    }
  }
}

.about__button {
  @media (min-width: 680px) {
    align-self: flex-start;
  }

  @media (min-width: 1180px) {
    margin-bottom: 2px;
  }
}
