.button {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  padding-right: 32px;
  padding-bottom: 8px;
  font-weight: $fontWeightBold;
  font-family: $fontFamilyButton;
  vertical-align: middle;
  color: inherit;
  text-transform: uppercase;
  letter-spacing: $letterSpacing;
  word-wrap: break-word;
  overflow-wrap: break-word;
  background: none;
  border: none;
  cursor: pointer;
  transition: opacity 0.2s;

  &::before,
  &::after {
    content: "";
    position: absolute;
    right: 0;
    height: 2px;
    background-color: $colorBlack;
  }

  &::before {
    bottom: 0;
    left: 0;
    transition: right 0.5s;
  }

  &::after {
    top: 7px;
    width: 26px;
  }

  @media (min-width: 680px) {
    padding-right: 38px;
    padding-bottom: 7px;
    font-size: $fontSizeTextTablet;

    &::after {
      top: 8px;
      right: 8px;
      width: 26px;
    }
  }

  &:hover,
  &:focus {
    outline: none;

    &::before {
      right: 100%;
    }
  }

  &:active {
    opacity: 0.8;
  }

  &--white {
    color: $colorWhite;

    &::before,
    &::after {
      background-color: currentColor;
    }

    @media (min-width: 680px) {
      color: $colorText;

      &::before,
      &::after {
        background-color: $colorBlack;
      }
    }
  }
}
