.header {
  width: 100%;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
}

.header__menu {
  @media (min-width: 1180px) {
    margin-top: 34px;
  }
}

.header__phone {
  display: none;
  box-sizing: border-box;

  @media (min-width: 680px) {
    display: block;
    flex-grow: 1;
    order: 1;
    width: 308px;
    margin-top: 18px;
    padding-left: 51px;
  }

  @media (min-width: 1180px) {
    width: 606px;
    margin-top: 33px;
    padding-left: 77px;
  }

  a {
    font-weight: $fontWeightSemiBold;
    font-size: $fontSizeTextDesktop;
    color: $colorWhite;
    transition: opacity 0.2s;

    @media (min-width: 680px) {
      color: $colorGrayDark;
    }

    @media (min-width: 1180px) {
      color: $colorGray;
    }

    &:hover,
    &:focus {
      outline: none;
      opacity: 0.6;
    }

    &:active {
      opacity: 0.8;
    }
  }
}

.header__icon-menu {
  margin-top: 9px;
  margin-right: 15px;

  @media (min-width: 680px) {
    flex-grow: 1;
    width: 255px;
    margin-top: 23px;
    margin-right: 0;
  }

  @media (min-width: 1180px) {
    display: none;
  }

  a {
    position: relative;
    display: block;
    width: 25px;
    height: 14px;
    color: $colorWhite;
    transition: opacity 0.2s;

    @media (min-width: 680px) {
      margin-right: auto;
      margin-left: auto;
      color: $colorGrayDark;
      transform: scaleX(-1);
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      right: 0;
      height: 2px;
      background-color: currentColor;
    }

    &::before {
      top: 0;
      left: 0;
      height: 2px;
      transition: left 0.5s;
    }

    &::after {
      top: 6px;
      left: 10px;
      box-shadow: 0 6px currentColor;
    }

    &:hover,
    &:focus {
      outline: none;

      &::before {
        left: 10px;
      }
    }

    &:active {
      opacity: 0.8;
    }
  }
}

.header__menu-mobile {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}
