$colorWhite: #ffffff;
$colorWhiteDark: #fffeff;
$colorBlack: #000000;

$colorGrayLight: #c8c9ca;
$colorGray: #878787;
$colorGrayDark: #3b3b3b;
$colorGrayXDark: #26292d;

$colorPrimaryLight: #8eb574;
$colorPrimaryDark: #709c54;
$colorSecondary: #cb98a8;

$colorText: #212021;
$colorTextAlt: #1d1c1c;
$colorTextFooter: #4e4d4e;
$colorTextFooterHover: #6f6d6f;

$colorBackground: #f8f8f8;

$fontWeightLight: 300;
$fontWeightNormal: 400;
$fontWeightSemiBold: 600;
$fontWeightBold: 700;

$fontSizeTextMobile: 14px;
$fontSizeTextTablet: 16px;
$fontSizeTextDesktop: 18px;
$fontSizeTiny: 10.26px;
$fontSizeSmall: 11px;
$fontSizeRegular: 12px;

$fontSizeNavMobile: 21.7px;
$fontSizeNavTablet: 36.78px;

$fontSizeTitleTablet: 24px;
$fontSizeTitleDesktop: 36px;
$fontSizeTitleRegular: 30px;
$fontSizeTitleLarge: 48px;

$fontSizeBackgroundMobile: 60px;
$fontSizeBackgroundTablet: 70px;
$fontSizeBackgroundDesktop: 108px;
$fontSizeBackgroundHero: 51.77px;
$fontSizeBackgroundHeroLarge: 83.5px;
$fontSizeBackgroundFooter: 132.58px;

$lineHeightNormal: 1.2;
$lineHeightLarge: 1.333;

$fontFamilyText: "Source Serif Pro", "Times New Roman", serif;
$fontFamilyButton: "Myriad Pro", "Arial", sans-serif;
$fontFamilyPagination: "Lato", "Arial", sans-serif;

$letterSpacing: 0.1em;
$letterSpacingLarge: 0.2em;
$letterSpacingHuge: 0.3em;
